body {
    text-align: center;
    font-family: Arial;
    background-color: #f2f2f2;
}

input {
    padding: 10px;
    margin: 5px;
}
button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
}